.trigonometry {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.btnTrig {
    background-color: dimgrey;
    width: 80px;
    height: 70px;
    display: flex;
    color: gainsboro;
    font-size: large;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnTrig:hover {
    background-color: seashell;
    color: black;
}