<div class="trigonometry">
    <button class="btnTrig" (click)="addToTextBox('sin')">sin</button>
    <button class="btnTrig" (click)="addToTextBox('cos')">cos</button>
    <button class="btnTrig" (click)="addToTextBox('tan')">tan</button>
    <button class="btnTrig" (click)="addToTextBox('π')">π</button>
    <button class="btnTrig" (click)="addToTextBox('cot')">cot</button>
    <button class="btnTrig" (click)="addToTextBox('sec')">sec</button>
    <button class="btnTrig" (click)="addToTextBox('cosec')">cosec</button>
    <button class="btnTrig" (click)="addToTextBox('arcsin')">arcsin</button>
    <button class="btnTrig" (click)="addToTextBox('arccos')">arccos</button>
    <button class="btnTrig" (click)="addToTextBox('arctan')">arctan</button>
</div>