<div class="scientific">
    <button class="btnSci" (click)="addToTextBox('^')">^</button>
    <button class="btnSci" (click)="addToTextBox('√')">√</button>
    <button class="btnSci" (click)="addToTextBox('!')">!</button>
    <button class="btnSci" (click)="addToTextBox('π')">π</button>
    <button class="btnSci" (click)="addToTextBox('∑')">∑</button>
    <button class="btnSci" (click)="addToTextBox('∏')">∏</button>
    <button class="btnS" (click)="addToTextBox('mod')">module</button>
    <button class="btnSci" (click)="addToTextBox('e')">e</button>
    <button class="btnSci" (click)="addToTextBox('ln')">ln</button>
    <button class="btnSci" (click)="addToTextBox('log')">log</button>
    <button class="btnS" (click)="addToTextBox('areaPol')">areaPol</button>
    <button class="btnS" (click)="addToTextBox('perPol')">perPol</button>
    <button class="btnSci" (click)="addToTextBox('sin')">sin</button>
    <button class="btnSci" (click)="addToTextBox('cos')">cos</button>
    <button class="btnSci" (click)="addToTextBox('tan')">tan</button>
    <button class="btnS" (click)="addToTextBox('mod')">fibonacci</button>
    <button class="btnM" (click)="addToTextBox('mean')">mean</button>
    <button class="btnM" (click)="addToTextBox('median')">median</button>
    <button class="btnM" (click)="addToTextBox('mode')">mode</button>
    <button class="btnM" (click)="addToTextBox('range')">range</button>
</div>