<div class="container">
    <div class="chg">
        <button class="btnChg" (click)="showT = false; showD = false; showS = false">Basic</button>
        <button class="btnChg" (click)="showS = true; showD = false; showT = false">Scientific</button>
        <button class="btnChg" (click)="showD = true; showT = false; showS = false">Developer</button>
        <button class="btnChgT" (click)="showT = true; showD = false; showS = false">Trigonometry</button>
    </div>
    <div class="total">
        <p class="totalP">{{result}}</p>
    </div>
    <app-basic2 (sendValue2)="pushValue($event)"></app-basic2>
    <app-numbers (sendNumber)="pushValue($event)"></app-numbers>
    <app-basic (sendValue)="pushValue($event)"></app-basic>
    <app-scientific *ngIf="showS" (sendSci)="pushValue($event)"></app-scientific>
    <app-developer *ngIf="showD" (sendValueD)="pushValue($event)"></app-developer>
    <app-trigonometry *ngIf="showT" (sendTrigonometry)="pushValue($event)"></app-trigonometry>
</div>