.container {
    width: 339px;
    height: 100%;
    background-color: #f1f1f1;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: 0px 10px 30px -5px #000000fb;
}

.total {
    background-color: aliceblue;
    width: 100%;
    height: 70px;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
    padding: 2%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 5px 15px -5px #00000070;
}

.total::-webkit-scrollbar {
    height: 10px;
}

.total::-webkit-scrollbar-thumb {
    background-color: #727171cc;
    border-radius: 5px;
}

.totalP {
    margin-top: 6.2%;
}

.chg {
    width: 100%;
    height: 70px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.btnChg {
    background-color: dimgrey;
    width: 80px;
    height: 70px;
    display: flex;
    color: gainsboro;
    font-size: small;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnChg:hover {
    background-color: rgb(148, 79, 30);
}

.btnChgT {
    background-color: dimgrey;
    width: 80px;
    height: 70px;
    display: flex;
    color: gainsboro;
    font-size: smaller;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnChgT:hover {
    background-color: rgb(148, 79, 30);
}