<div class="basic">
    <button class="btnBsc" (click)="addToTextBox('x')">x</button>
    <button class="btnBsc" (click)="addToTextBox('-')">-</button>
    <button class="btnBsc" (click)="addToTextBox('+')">+</button>
    <button class="btnBsc" (click)="addToTextBox('=')">=</button>
</div>