.number {
    width: 253px;
    height: 297px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.btnNum {
    background-color: coral;
    width: 80px;
    height: 70px;
    display: flex;
    color: black;
    font-size: large;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnNum:hover {
    background-color: cornsilk;
}

.btnZero {
    background-color: coral;
    width: 163px;
    height: 70px;
    display: flex;
    color: black;
    font-size: large;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnZero:hover {
    background-color: cornsilk;
}