<div class="number">
    <button class="btnNum" (click)="addToTextBox('7')">7</button>
    <button class="btnNum" (click)="addToTextBox('8')">8</button>
    <button class="btnNum" (click)="addToTextBox('9')">9</button>
    <button class="btnNum" (click)="addToTextBox('4')">4</button>
    <button class="btnNum" (click)="addToTextBox('5')">5</button>
    <button class="btnNum" (click)="addToTextBox('6')">6</button>
    <button class="btnNum" (click)="addToTextBox('1')">1</button>
    <button class="btnNum" (click)="addToTextBox('2')">2</button>
    <button class="btnNum" (click)="addToTextBox('3')">3</button>
    <button class="btnZero" (click)="addToTextBox('0')">0</button>
    <button class="btnNum" (click)="addToTextBox('.')">.</button>
</div>