<div class="develop">
    <button class="btnLet" (click)="addToTextBox('A')">A</button>
    <button class="btnLet" (click)="addToTextBox('B')">B</button>
    <button class="btnLet" (click)="addToTextBox('C')">C</button>
    <button class="btnDev" (click)="addToTextBox('hexToOct')">hexToOct</button>
    <button class="btnLet" (click)="addToTextBox('D')">D</button>
    <button class="btnLet" (click)="addToTextBox('E')">E</button>
    <button class="btnLet" (click)="addToTextBox('F')">F</button>
    <button class="btnDev" (click)="addToTextBox('hexToDec')">hexToDec</button>
    <button class="btnDev" (click)="addToTextBox('binToOct')">binToOct</button>
    <button class="btnDev" (click)="addToTextBox('binToDec')">binToDec</button>
    <button class="btnDev" (click)="addToTextBox('binToHex')">binToHex</button>
    <button class="btnDev" (click)="addToTextBox('hexToBin')">hexToBin</button>
    <button class="btnDev" (click)="addToTextBox('octToDec')">octToDec</button>
    <button class="btnDev" (click)="addToTextBox('octToBin')">octToBin</button>
    <button class="btnDev" (click)="addToTextBox('octToHex')">octToHex</button>
    <button class="btnDev" (click)="addToTextBox('decToOct')">decToOct</button>
    <button class="btnDev" (click)="addToTextBox('decToBin')">decToBin</button>
    <button class="btnDev" (click)="addToTextBox('decToHex')">decToHex</button>
</div>