.develop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.btnDev {
    background-color: dimgrey;
    width: 80px;
    height: 70px;
    display: flex;
    color: gainsboro;
    font-size: small;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnDev:hover {
    background-color: seashell;
    color: black;
}

.btnLet {
    background-color: coral;
    width: 80px;
    height: 70px;
    display: flex;
    color: black;
    font-size: Large;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
}

.btnLet:hover {
    background-color: cornsilk;
}