<div class="basicTwo">
    <button class="btnBsc2" (click)="addToTextBox('DEL')">DEL</button>
    <button class="btnBsc2" (click)="addToTextBox('AC')">AC</button>
    <button class="btnBsc2" (click)="addToTextBox('%')">%</button>
    <button class="btnBsc2" (click)="addToTextBox('/')">/</button>
</div>